---
import CheckoutSelectionFields from "./CheckoutSelectionFields.jsx";
const { placement = "mobile" } = Astro.props;
---

<form class={`terms terms--${placement}`} action="">
  <CheckoutSelectionFields client:load />
  <div class="terms-wrapper">
    <input class="check" type="checkbox" name="check" /><label
      class="text-trim"
      for="check"
      >I agree to the <a class="link" href=""
        >Hart Bageri terms and Conditions</a
      >*</label
    >
  </div>
  <input class="btn" type="submit" value="place order" />
</form>

<style>
  @media screen and (max-width: 1023px) {
    .terms--mobile {
      display: flex;
    }
    .terms--desktop {
      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .terms--mobile {
      display: none;
    }
    .terms--desktop {
      display: flex;
    }
  }
  .terms {
    align-items: start;
    align-self: end;
    justify-content: space-between;
    gap: var(--space-m);
    margin-top: auto;
    border-top: var(--border) var(--color-charcoal);
    padding-block-start: var(--space-xs-s);
    width: 100%;
  }

  .terms-wrapper {
    display: flex;
    align-items: start;
    gap: var(--space-xs-s);
  }

  input[type="checkbox"] {
    appearance: none;
    flex-shrink: 0;
    margin: 0;
    font: inherit;
    color: var(--color-charcoal);
    background-color: var(--color-cream);
    width: 11px;
    height: 11px;
    border: 1px solid currentColor;
    border-radius: 2px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 6px;
    height: 6px;
    transform: scale(0);
    transition: 100ms transform var(--easy);
    box-shadow: inset 1px 6px var(--color-charcoal);
    border-radius: 5px;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  label {
    font-family: "Graphik";
    font-size: var(--text-s);
  }

  .btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-charcoal);
    padding-inline: var(--space-s);
    padding-block: 3px;
    color: var(--color-cream);
    font-family: "Basel Grotesk Mono";
    border-radius: 5px;
    transition: var(--easy);
    text-transform: capitalize;
  }

  .btn:hover {
    cursor: pointer;
    opacity: 90%;
  }
</style>
