---
import Layout from "../layouts/Layout.astro";
---

<Layout color="charcoal" variant="primary" menuVariant="main"
  ><section>
    <p>Oops! We can't seem to find the page you're looking for.</p>
  </section>
</Layout>

<style>
  section {
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
