---
import Layout from "../layouts/Layout.astro";
import TextBox from "../components/atoms/TextBox.astro";

const aboutHart = [
  {
    title: "our story",
    description:
      "Hart Bakery was founded in 2018 and emerged from a partnership between Richard Hart, René Redzepi, and the partners behind Restaurant noma. Richard Hart, formerly the Head Baker at Tartine in San Francisco, aspired to produce the finest bread and pastries at Hart Bakery. ",
  },

  {
    title: "our philosophy",
    description:
      "At Hart Bakery, our philosophy is one of constant evolution. We compete only with ourselves, striving each day to surpass what we achieved the previous year, the previous day, the previous bake.",
  },

  {
    title: "our baking approach",
    description:
      "We are not your traditional Danish bakery. Our bakers bring a playful levity to classic recipes, creating a signature style that sets us apart. Our offerings showcase high-quality ingredients, expertly crafted by our team of skilled bakers. We embrace the seasons, allowing the continual renewal of the natural world to inspire our creations.",
  },
];
---

<Layout
  color="cream"
  headerVariant="primary"
  headerBorderless={true}
  footerVariant="primary"
>
  <video
    src="/assets/video/hero_mobile_comp.mp4"
    class="video-bg"
    autoplay
    loop
    muted
    playsinline
    aria-hidden="true"></video>
  <section id="about">
    <div class="wrapper move-in">
      {
        aboutHart.map((content) => (
          <TextBox title={content.title} description={content.description} />
        ))
      }
    </div>
  </section>

  <style>
    section#about {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-block-start: var(--header-height);
      padding-block: var(--space-l);
    }
    .video-bg {
      width: 100%;
      height: 100%;
      object-position: center 30%;
      position: absolute;
      inset: 0;
      object-fit: cover;
      position: fixed;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-self: center;
      gap: var(--space-l);
      transform: translateY(12px);
    }

    @media screen and (min-width: 1024px) {
      section#about {
        height: calc(100svh - (var(--header-height) + var(--footer-height)));
        padding-block: 0;
        justify-content: start;
      }
      .wrapper {
        flex-direction: row;
      }
    }
  </style>
</Layout>
