---
import Layout from "../layouts/Layout.astro";
---

<Layout color="cream">
  <section class="hero">
    <video class="video-bg" autoplay loop muted playsinline aria-hidden="true">
      <source
        src="/assets/video/skg_mobile_comp.mp4"
        media="(max-width: 1023px)"
      />
      <source
        src="/assets/video/skg_mobile_comp.mp4"
        media="(prefers-reduced-data: reduce)"
      />
      <source src="/assets/video/skg_raw.mp4" media="(min-width: 1024px)" />
    </video>
  </section>

  <style>
    body {
      position: fixed;
    }
    .hero {
      position: relative;
      min-height: 100svh;
      overflow: hidden;
    }

    .video-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    @media screen and (width > 1024px) {
      .video-bg {
        object-position: center 35%;
      }
    }
  </style>
</Layout>
