@layer theme, reset, base;

@layer theme {
  /* Fonts */
  @font-face {
    font-family: "Basel Grotesk Mono";
    src:
      url("/fonts/basel-grotesk-mono-medium.woff2") format("woff2"),
      url("/fonts/basel-grotesk-mono-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    line-height: normal;
  }

  @font-face {
    font-family: "Graphik";
    src:
      url("/fonts/graphik-regular.woff2") format("woff2"),
      url("/fonts/graphik-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    line-height: normal;
  }

  /* Custom Properties */

  :root {
    /* Colors */
    --color-cream: #fcfaf1;
    --color-charcoal: #2c2c2e;
    --color-grey: color-mix(
      in oklab,
      var(--color-charcoal) 40%,
      var(--color-cream)
    );

    /* Spacing */
    --space-xs: 0.375rem;
    --space-xs-s: 0.5rem;
    --space-s: 1rem;
    --space-s-m: 1.25rem;
    --space-m: 1.5rem;
    --space-m-l: 2rem;
    --space-l: 2.5rem;
    --space-xl: 3.75rem;

    /* Text sizes */
    --text-xs: 0.625rem;
    --text-xs-s: 0.6875rem;
    --text-s: 0.75rem;
    --text-m: 0.875rem;
    --text-l: 1rem;

    /* Border styles */
    --border-thin: 0.5px solid;
    --border: 1px solid;

    /* Transition */
    --easy: 0.2s ease;
    --slowly: 0.3s ease;

    /* Element sizes */
    --header-height: 3.1875rem;
    --footer-height: 2.125rem;
  }
}

/* Reset */

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
    padding: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body *::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    background-color: transparent;
    border: 0;
  }
}

@layer base {
  main {
    margin-top: 51px;
    margin-bottom: var(--space-l);
    max-width: 100svw;
    position: relative;
  }

  section {
    margin-inline: var(--space-s);
    max-width: 100%;
  }
  /* Typography */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header a {
    overflow-wrap: break-word;
    transition: font-size 0.1s ease;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-weight: normal;
  }

  h1,
  header a {
    font-size: var(--text-m);
    text-transform: uppercase;
    letter-spacing: -3%;
  }

  footer a {
    text-transform: uppercase;
    letter-spacing: -3%;
  }

  h2 {
    font-size: var(--text-m);
    text-transform: capitalize;
    letter-spacing: normal;
  }

  h3 {
    font-size: var(--text-m);
  }

  h4 {
    font-size: var(--text-m);
  }

  p {
    font-size: var(--text-s);
    font-family: "Graphik";
  }

  .text-s,
  .text-s > * {
    font-size: var(--text-s);
  }

  .text-xs,
  .text-xs > * {
    font-size: var(--text-xs);
  }

  .text-trim {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    border-bottom: var(--border) var(--color-charcoal);
  }

  .menu .title-wrapper,
  .accordion .title-wrapper {
    border-bottom: var(--border-thin) var(--color-charcoal);
  }

  .caption .title-wrapper {
    margin-bottom: 6px;
  }

  .caption {
    display: flex;
    flex-direction: column;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .title-wrapper h1,
  .title-wrapper h2,
  .title-wrapper h3,
  .title-wrapper h4 {
    margin-bottom: 6px;
    line-height: 100%;
  }

  .accordion .title-wrapper {
    padding-bottom: 4px;
  }

  /* Header */

  body > header {
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 10;
  }

  header.header--primary {
    border-bottom: var(--border) var(--color-charcoal);
  }

  /* Desktop styles */
  @media screen and (min-width: 1024px) {
    :root {
      --header-height: 4.625rem;
      --footer-height: 2.125rem;
    }
    main {
      margin-top: 74px;
      padding-top: var(--space-m);
      margin-bottom: 0;
      padding-bottom: var(--space-m);
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-inline: var(--space-m);
      column-gap: var(--space-l);
      grid-column: 2 / -1;
      height: 100%;
      overflow: hidden;
      max-width: 100%;
    }

    h1,
    h2 {
      font-size: var(--text-l);
    }

    h3,
    header a {
      font-size: var(--text-m);
    }

    h4 {
      font-size: var(--text-m);
    }

    p {
      font-size: var(--text-m);
    }

    .menu p.text-xs {
      font-size: var(--text-xs);
    }
  }

  .fade-in {
    animation: fade-in 1s ease forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .move-in {
    animation: move-in 0.5s ease forwards;
  }

  @keyframes move-in {
    from {
      transform: translateX(40px);
    }
    to {
      transform: translateX(0);
    }
  }

  .move-up {
    animation: move-up 0.5s ease forwards;
  }

  @keyframes move-up {
    from {
      transform: translateY(40px);
    }
    to {
      transform: translateY(0);
    }
  }
}
