---

---

<a class="btn-small" href="">pre-order</a>

<style>
  .btn-small {
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 3.5px;
    background-color: var(--color-charcoal);
    color: var(--color-cream);
    opacity: 90%;
    transition: opacity var(--easy);
    font-size: var(--text-xs);
    text-transform: uppercase;
    text-align: center;
  }

  .btn-small:hover {
    opacity: 100%;
    cursor: pointer;
  }

  @media screen and (min-width: 726px) {
    .btn-small {
      font-size: var(--text-s);
    }
  }
</style>
