---
const { title, color, font } = Astro.props;
---

<button type="button" class={`btn-small ${color} ${font}`}>
  {title}
  <slot />
</button>

<style>
  .btn-small {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 3.5px;
    border: none;
    background-color: var(--color-charcoal);
    color: var(--color-cream);
    opacity: 90%;
    transition: opacity var(--easy);
    text-align: center;
    font: inherit;
  }

  .btn-small:has(.time-label) {
    padding-block: 3px;
    gap: 3px;
  }

  .graphik {
    font-family: "Graphik";
    font-size: var(--text-xs);
  }

  .basel {
    font-family: "Basel Grotesk Mono";
    font-size: var(--text-s);
  }

  .caps {
    text-transform: uppercase;
  }
  .charcoal {
    background-color: var(--color-charcoal);
    color: var(--color-cream);
  }

  .cream {
    background-color: var(--color-cream);
    color: var(--color-charcoal);
  }
  .btn-small:hover {
    opacity: 100%;
    cursor: pointer;
  }

  @media screen and (min-width: 726px) {
    .btn-small {
      padding-block: 3px;
    }
  }
</style>
