---
const { title, color, font } = Astro.props;
---

<a class=`btn-small ${color} ${font}` href="">{title} <slot /></a>

<style>
  .btn-small {
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 3.5px;
    background-color: var(--color-charcoal);
    color: var(--color-cream);
    opacity: 90%;
    transition: opacity var(--easy);
    text-align: center;
  }

  .btn-small:has(.time-label) {
    text-align: end;
    padding-block: 3px;
  }

  .graphik {
    font-family: "Graphik";
    font-size: var(--text-xs);
  }

  .basel {
    font-family: "Basel Grotesk Mono";
    font-size: var(--text-s);
  }

  .caps {
    text-transform: uppercase;
  }
  .charcoal {
    background-color: var(--color-charcoal);
    color: var(--color-cream);
  }

  .cream {
    background-color: var(--color-cream);
    color: var(--color-charcoal);
  }
  .btn-small:hover {
    opacity: 100%;
    cursor: pointer;
  }

  @media screen and (min-width: 726px) {
    .btn-small {
      padding-block: 3px;
    }
  }
</style>
