---
const { title, color } = Astro.props;
---

<a class=`btn-small ${color}` href="">{title}</a>

<style>
  .btn-small {
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 3.5px;
    background-color: var(--color-charcoal);
    color: var(--color-cream);
    opacity: 90%;
    transition: opacity var(--easy);
    font-size: var(--text-xs);
    text-transform: uppercase;
    text-align: center;
  }

  .charcoal {
    background-color: var(--color-charcoal);
    color: var(--color-cream);
  }

  .cream {
    background-color: var(--color-cream);
    color: var(--color-charcoal);
    font-family: "Graphik";
    padding: 6px;
  }
  .btn-small:hover {
    opacity: 100%;
    cursor: pointer;
  }

  @media screen and (min-width: 726px) {
    .charcoal {
      font-size: var(--text-s);
    }
  }
</style>
