---
const { cartTotal } = Astro.props;
const { placement = "mobile" } = Astro.props;
---

<div class={`total--${placement}`}>
  <div class="title-wrapper reverse">
    <h3>Total</h3>
    <span>{cartTotal}</span>
  </div>
</div>

<style>
  .title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  @media screen and (max-width: 1023px) {
    .total--desktop {
      display: none;
    }

    .total--mobile {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    .total--mobile {
      display: none;
    }

    .total--desktop {
      align-self: end;
      display: block;
    }
  }
</style>
