---
const { title, state } = Astro.props;
---

<button class=`filter-btn ${state}` href="">
  {title}
</button>

<style>
  .filter-btn {
    line-height: 1;
    padding-inline: var(--space-xs-s);
    padding-block: 4px;
    font-family: "Basel Grotesk Mono";
    text-transform: capitalize;
    background-color: var(--color-cream);
    color: var(--color-charcoal);
    border: var(--border) var(--color-charcoal);
    border-radius: 4px;
    font-size: var(--text-m);
    white-space: nowrap;
    text-align: center;
  }

  .filter-btn:hover {
    cursor: pointer;
  }

  .filter-btn:focus {
    background-color: var(--color-charcoal);
    color: var(--color-cream);
  }

  .selected {
    background-color: var(--color-charcoal);
    color: var(--color-cream);
  }

  @media screen and (min-width: 1024px) {
    .filter-btn {
      padding-inline: 0;
      padding-block: 0;
      font-family: "Graphik";
      background-color: transparent;
      border: 0;
      border-radius: 0;
      text-align: start;
    }

    .filter-btn:focus,
    .filter-btn:hover,
    .selected {
      background-color: transparent;
      color: var(--color-charcoal);
      text-decoration: 1px underline solid var(--color-charcoal);
      text-underline-offset: 3px;
    }
  }
</style>
