---
const { title, description, variant } = Astro.props;
---

<div class={`box ${variant}`}>
  <div class="title-wrapper">
    <h2>{title}</h2>
  </div>
  <p>{description}</p>
</div>

<style>
  .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 29rem;
    min-height: 11rem;
    border-radius: 10px;
    padding-block-start: var(--space-s);
    padding-block-end: var(--space-m);
    padding-inline: var(--space-m);
    gap: var(--space-s);
    background-color: var(--color-cream);
    color: var(--color-charcoal);
    z-index: +1;
  }

  .box h1,
  .box p {
    animation: fade-in 2s ease;
  }

  .faq h2 {
    font-size: var(--text-m);
    text-transform: none;
  }

  @media screen and (min-width: 1024px) {
    .box {
      min-height: 15rem;
      gap: var(--space-m);
    }

    .faq {
      width: 100%;
      max-width: 100%;
      min-height: 100%;
      border: var(--border-thin) var(--color-charcoal);
      gap: var(--space-s);
    }

    .faq .title-wrapper {
      border-bottom: var(--border-thin) var(--color-charcoal);
    }
  }
</style>
