@media screen and (max-width: 1023px) {
  .pm-box {
    grid-template-columns: 1fr;

    /* display: flex;
    flex-direction: column; */
    max-width: min(70vw, 18rem);
    max-height: 90vh;
  }

  .pm-content .title-wrapper {
    padding-block-start: var(--space-s);
  }

  .pm-amount,
  .pm-button {
    flex: 1 1 auto;
  }
}

.pm-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 44, 46, 0.45);
  z-index: 100;
}

.pm-box {
  position: relative;
  background: var(--color-charcoal);
  color: var(--color-cream);
  border-radius: 10px;
  padding: var(--space-m);
  width: 100%;
  gap: var(--space-m);
}

.pm-close {
  display: none;
}

.pm-close img {
  width: 100%;
  height: 10px;
}

.pm-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 5 / 6;
}

.pm-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;
  gap: var(--space-xs);
}

.pm-content .title-wrapper {
  border-color: var(--color-cream);
}

.pm-details {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-thin) var(--color-cream);
  padding-block-end: var(--space-xs);
}

.pm-details > * {
  font-size: var(--text-xs);
}

.pm-description {
  padding-block: var(--space-xs);
}

.pm-actions {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  margin-block-start: var(--space-xs-s);
  flex-wrap: wrap;
  width: 100%;
}

.pm-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  height: fit-content;
  padding-block: var(--space-xs);
  padding-inline: var(--space-xs-s);
  border: var(--border-thin) var(--color-cream);
  border-radius: 5px;
}

.pm-amount-count {
  width: 2ch;
  flex: 0 0 auto;
  text-align: center;
  font-family: "Graphik";
  font-size: var(--text-s);
}
.pm-amount-btn {
  display: grid;
  place-items: center;
  width: 8px;
  height: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: 0;
}

.pm-amount-btn img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Amount Button Color Variants */
.amount-color-cream {
  background: var(--color-charcoal);
  border-color: var(--color-cream);
  color: var(--color-cream);
}

.amount-color-charcoal {
  background: var(--color-cream) !important;
  border-color: var(--color-charcoal);
  color: var(--color-charcoal);
}

.pm-button {
  padding-block: var(--space-xs);
  padding-inline: var(--space-xs-s);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Graphik";
  font-size: var(--text-s);
  text-transform: uppercase;
  background: var(--color-cream);
  color: var(--color-charcoal);
  transition: opacity var(--easy);
}

.pm-allergens {
  margin-top: var(--space-xs);
}

.heart {
  display: none;
}

/* Cart Amount Button Variant */
.cart-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  height: calc(8px + (var(--space-xs) * 2));
  height: fit-content;
  padding-inline: var(--space-xs-s);
  border: var(--border-thin) var(--color-charcoal);
  border-radius: 5px;
  background: var(--color-cream);
}

.cart-amount-count {
  width: 2ch;
  flex: 0 0 auto;
  text-align: center;
  font-family: "Graphik";
  font-size: var(--text-s);
  color: var(--color-charcoal);
}

.cart-amount-btn {
  display: grid;
  place-items: center;
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: 0;
}

.cart-amount-btn img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .pm-box {
    max-width: 40rem;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .pm-close {
    position: absolute;
    top: var(--space-m);
    right: var(--space-m);
    display: grid;
    place-items: center;
    width: fit-content;

    padding: 0;
    border: none;
    border-radius: 999px;
    background: transparent;
    cursor: pointer;
  }

  .pm-content h3 {
    font-size: var(--text-l);
  }

  .pm-details > * {
    font-size: var(--text-s);
  }

  .pm-media {
    position: relative;
  }

  .pm-price {
    margin: 0;
  }

  .pm-actions {
    margin-block-start: auto;
  }
  @media (hover: hover) {
    .pm-button:hover {
      opacity: 90%;
    }
  }

  .heart {
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: var(--space-s);
    bottom: var(--space-s);
  }
}
