@media screen and (max-width: 1023px) {
  .pm-time {
    padding-block: var(--space-xs);
    border-top: var(--border-thin) var(--color-cream);
    border-bottom: var(--border-thin) var(--color-cream);
  }
}

.pm-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 44, 46, 0.45);
  z-index: 100;
}

.pm-box {
  position: relative;
  background: var(--color-charcoal);
  color: var(--color-cream);
  border-radius: 10px;
  padding: var(--space-m);
  width: 100%;
  max-width: 40rem;
  max-height: 20rem;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: var(--space-m);
}

.pm-close {
  position: absolute;
  top: var(--space-s);
  right: var(--space-s);
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 999px;
  background: transparent;
  cursor: pointer;
}

.pm-close img {
  width: 100%;
  height: 10px;
}

.pm-media {
  position: relative;
}

.pm-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.pm-title-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--space-s);
}

.pm-price {
  margin: 0;
}

.pm-description {
  align-self: end;
}

.pm-actions {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  margin-top: var(--space-s);
  flex-wrap: wrap;
}

.pm-amount {
  display: flex;
  align-items: center;
  gap: var(--space-m);
  padding-block: var(--space-xs);
  padding-inline: var(--space-xs-s);
  border: var(--border-thin) var(--color-cream);
  border-radius: 5px;
}

.pm-amount-btn {
  display: grid;
  place-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.pm-amount-btn img {
  width: 8px;
  height: 8px;
}

.pm-amount-count {
  min-width: 1ch;
  text-align: center;
  font-family: "Graphik";
  font-size: var(--text-s);
}

.pm-button {
  padding-block: var(--space-xs);
  padding-inline: var(--space-xs-s);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Graphik";
  font-size: var(--text-s);
  text-transform: uppercase;
  background: var(--color-cream);
  color: var(--color-charcoal);
  transition: opacity var(--easy);
}

.pm-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;
  gap: var(--space-xs);
}

.pm-content .title-wrapper {
  border-color: var(--color-cream);
}

.heart {
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: var(--space-s);
  bottom: var(--space-s);
}

.pm-description {
  flex: 1 1 auto;
}

.pm-actions {
  margin-top: auto;
}

.pm-allergens {
  margin-top: var(--space-xs);
}

@media (hover: hover) {
  .pm-button:hover {
    opacity: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .pm-box {
    grid-template-columns: 1fr;
  }
}
