<div class="menu">
  <div class="item">
    <p class="text-s">
      Contact us or find answers to our frequently asked questions.
    </p>
  </div>
  <div class="caption">
    <p class="text-s">
      <span
        ><a href="mailto:info@hartbageri.com" target="_blank"
          >info@hartbageri.com</a
        ></span
      ><span
        ><a href="mailto:wholesale@hartbageri.com" target="_blank"
          >wholesale@hartbageri.com</a
        ></span
      >
    </p>
  </div>

  <style>
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: var(--space-m);
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    p span {
      display: block;
      font-size: var(--text-s);
      text-decoration: 0.5px solid underline var(--color-charcoal);
      text-underline-offset: 3px;
      line-height: 16pt;
    }
  </style>
</div>
