<div class="menu-wrapper">
  <div class="menu">
    <div class="item">
      <div class="title-wrapper">
        <h3>General enquiries</h3>
      </div>
      <p class="text-s">
        For any general enquiries, special orders or other requests, please
        contact us at: <span><a href="">info@hartbageri.com</a></span>
      </p>
    </div>
    <div class="item">
      <div class="title-wrapper"><h3>Work With Us</h3></div>
      <p class="text-s">
        Are you passionate and interested in learning more about baking,
        hospitality and speciality coffee?
        <span> <a href="">Apply here</a></span>
      </p>
    </div>
    <div class="item">
      <div class="title-wrapper"><h3>Wholesale</h3></div>
      <p class="text-s">
        For any wholesale related requests, please contact us at:
        <span> <a href="">wholesale@hartbageri.com</a></span>
      </p>
    </div>
  </div>
  <div class="caption">
    <div class="title-wrapper"><h3>Contact Us</h3></div>
    <p class="text-s">
      <span><a href="">info@hartbageri.com </a></span><span
        ><a href="">wholesale@hartbageri.com</a></span
      >
    </p>
  </div>
</div>

<style>
  .menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding-top: 12px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  p span {
    display: block;
    font-size: var(--text-s);
    text-decoration: 0.5px solid underline var(--color-charcoal);
    text-underline-offset: 3px;
    line-height: 16pt;
  }
</style>
