<div class="menu-wrapper">
  <ul class="menu">
    <li><a href="#orderinfo">Online orders & pick-up</a></li>
    <li><a href="#productinfo">Product info</a></li>
  </ul>
  <div class="caption">
    <div class="title-wrapper"><h3>Contact Us</h3></div>
    <p class="text-s">
      <span><a href="">info@hartbageri.com </a></span><span
        ><a href="">wholesale@hartbageri.com</a></span
      >
    </p>
  </div>
</div>

<style>
  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
  .menu a {
    font-family: "Graphik";
    font-size: var(--text-m);
    text-transform: capitalize;
  }

  .menu a:hover {
    text-decoration: underline 1px solid var(--color-charcoal);
    text-underline-offset: 4px;
  }
</style>
