---
import FilterButton from "../atoms/FilterButton.astro";
const { variant } = Astro.props as {
  variant: "shops" | "products";
};

const areas = [
  "reffen",
  "city",
  "østerbro",
  "nørrebro",
  "vesterbro",
  "frederiksberg",
  "islands brygge",
];

const productCategories = [
  "favorites",
  "bread & buns",
  "pastry & cake",
  "savory",
  "groceries",
];

const filterItems: Record<typeof variant, string[]> = {
  shops: areas,
  products: productCategories,
};

const itemsToDisplay = filterItems[variant] || [];
---

<div class="wrapper">
  <div class={`filter-bar ${variant}`}>
    {itemsToDisplay.map((item) => <FilterButton title={item} filter={item} />)}
  </div>
</div>

<style>
  @media screen and (max-width: 1024px) {
    .wrapper {
      padding-block: var(--space-m);
    }
  }
  .filter-bar {
    display: flex;
    gap: var(--space-s);
    flex-wrap: nowrap;
    width: fit-content;
  }

  @media screen and (min-width: 1024px) {
    .wrapper {
      padding-block: 0;
      padding-inline: 0;
    }

    .filter-bar {
      gap: var(--space-l);
      height: fit-content;
      align-items: center;
    }
  }
</style>
