---
const { direction = "row", parent } = Astro.props;
const menuDirection = direction === "row" ? "row" : "column";
---

<ul class={`menu ${menuDirection} ${parent}`}>
  <li><a href="/shops">shops</a></li>
  <li><a href="/about">about</a></li>
  <li><a href="/contact">contact</a></li>
  <li><a href="/preorder">pre-order</a></li>
</ul>

<style>
  li {
    line-height: 100%;
  }
  .menu {
    display: flex;
    gap: var(--space-l);
  }

  .footer.column.menu {
    gap: 0;
    margin-top: 0;
  }

  .footer {
    border-top: var(--border-thin) var(--color-cream);
  }

  .footer.menu li {
    width: 100svw;
    display: flex;
    align-items: center;
    height: var(--space-l);
    border-bottom: var(--border-thin) var(--color-cream);
    padding-inline: var(--space-s);
  }
  .menu.footer a {
    font-size: var(--text-m);
  }

  .menu a {
    transition:
      color var(--easy),
      font-size var(--easy);
  }

  .menu a:hover {
    color: var(--color-grey);
  }

  .menu.row {
    flex-direction: row;
  }

  .menu.column {
    flex-direction: column;
    margin-top: var(--space-m);
    gap: var(--space-s);
  }

  .menu.column.mobile {
    gap: 0;
    margin-top: 0;
  }
  .mobile li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-inline: var(--space-s);
    padding-block: var(--space-m);
    border-bottom: var(--border-thin) var(--color-cream);
  }
</style>
