---
import { areas } from "../../data/shopsData";
---

<div class="menu-wrapper">
  <ul class="menu">
    {
      areas.map((area) => (
        <li>
          <a href="">{area}</a>
        </li>
      ))
    }
  </ul>
  <div class="caption">
    <p class="text-s">Find us in your neighbourhood every day of the week.</p>
  </div>
</div>

<style>


  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
  .menu a {
    font-family: "Graphik";
    font-size: var(--text-m);
    text-transform: capitalize;
  }

  .menu a:hover {
    text-decoration: underline 1px solid var(--color-charcoal);
    text-underline-offset: 4px;
  }
</style>
