---
import { areas } from "../../data/shopsData";
---

<div class="menu-wrapper">
  <ul class="menu">
    {
      areas.map((area) => (
        <li>
          <button>{area}</button>
        </li>
      ))
    }
  </ul>
  <div class="caption">
    <p class="text-s">Find us in your neighbourhood every day of the week.</p>
  </div>
</div>

<style>
  .menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
  .menu button {
    text-decoration: underline 1px solid transparent;
    text-underline-offset: 4px;
    transition: text-decoration-color var(--easy);
  }
  .menu button {
    font-family: "Graphik";
    font-size: var(--text-m);
    text-transform: capitalize;
  }

  .menu button:hover,
  .menu button:focus {
    text-decoration-color: var(--color-charcoal);
    cursor: pointer;
  }
</style>
