---
import ShopsMenu from "../molecules/ShopsMenu.astro";
import ContactMenu from "../molecules/ContactMenu.astro";
import PreorderMenu from "../molecules/PreorderMenu.astro";
import FAQMenu from "../molecules/FAQMenu.astro";
import CheckoutMenu from "../molecules/checkout/CheckoutMenu.astro";
const { title, sidebarClass = "" } = Astro.props;
const { menuVariant = "" } = Astro.props;
---

<aside class={`sidebar ${sidebarClass}`}>
  <div class="title-wrapper">
    <h1>{title}</h1>
  </div>

  <div class="content">
    {
      menuVariant === "shops" || (!menuVariant && title === "Shops") ? (
        <ShopsMenu />
      ) : menuVariant === "contact" || (!menuVariant && title === "Contact") ? (
        <ContactMenu />
      ) : menuVariant === "preorder" ||
        (!menuVariant && title === "Pre-Order") ? (
        <PreorderMenu />
      ) : menuVariant === "faq" || (!menuVariant && title === "FAQ") ? (
        <FAQMenu />
      ) : menuVariant === "checkout" ||
        (!menuVariant && title === "Checkout") ? (
        <CheckoutMenu />
      ) : null
    }
  </div>
</aside>

<style>
  .sidebar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .sidebar {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      width: var(--sidebar-width);
      height: calc(
        100vh - (var(--header-height) + var(--footer-height)) -
          (var(--space-m) * 2)
      );
      padding-inline: var(--space-m);
      grid-area: aside;
      border-right: var(--border) var(--color-charcoal);
    }

    .title-wrapper {
      gap: 6px;
      border-bottom: var(--border) var(--color-charcoal);
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .add-margin {
      margin-block: var(--space-m);
    }
  }
</style>
